Source: mfoc
Section: utils
Priority: extra
Maintainer: Thomas Hood <jdthood@gmail.com>
Build-Depends: debhelper (>=9), dh-autoreconf, libnfc-dev (>= 1.7.0~rc1), pkg-config
Standards-Version: 3.9.4
Homepage: http://code.google.com/p/mfoc/
Vcs-Git: http://code.google.com/p/mfoc/
Vcs-Browser: http://code.google.com/p/mfoc/source/browse/

Package: mfoc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MIFARE Classic offline cracker
 MFOC is an open source implementation of "offline nested" attack. It
 helps to recove keys from MIFARE Classic tags and dump content to a
 file.
